/* --import-Font-*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Déclarations des variables
--Colors-- */
:root{
  --background-color: #0D0E0F;
  --bg-surface-card: #12161d;
  --accent-gold: #D1913C;
  --light-gold: #ffb84D;
  --line-fech: #2c3544;
  --text-main: #FFFFFF;
  --text-muted: #A0AEC0;

  /*Font-weight*/
  --desktop-font-weight-h1:700; 
  --desktop-font-weight-h2: 600;
  --desktop-font-weight-h3: 500;
  --desktop-font-weight-h4: 500;
  --desktop-font-weight-h5: 400;
  --desktop-font-weight-h6: 400;
  --desktop-font-weight-legend: 500;
  --desktop-font-weight-badges: 500;
  --desktop-font-weight-chapo: 400;
  --mobile-font-weight-h1: 600;
  --mobile-font-weight-h2: 500;
  --mobile-font-weight-h3: 500;
  --mobile-font-weight-h4: 400;
  --mobile-font-weight-h5: 400;
  --mobile-font-weight-h6: 300;
  --mobile-font-weight-legend: 500;
  --mobile-font-weight-badges: 500;
  --mobile-font-weight-chapo: 400;

  /*Font-size*/
  --desktop-font-size-h1:3rem;
  --desktop-font-size-h2:2.5rem;
  --desktop-font-size-h3:2rem;
  --desktop-font-size-h4:1.5rem;
  --desktop-font-size-h5:1.25rem;
  --desktop-font-size-h6:1rem;
  --desktop-font-size-legend:0.875rem;
  --desktop-font-size-badges:1.25rem;
  --desktop-font-size-chapo:0.875rem;
  --mobile-font-size-h1:2.5rem;
  --mobile-font-size-h2:2rem;
  --mobile-font-size-h3:1.5rem;
  --mobile-font-size-h4:1.5rem;
  --mobile-font-size-h5:1.25;
  --mobile-font-size-h6:1rem;
  --mobile-font-size-badges:1.125rem;
  --mobile-font-size-legend:0.75rem;
  --mobile-font-size-chapo:0.75rem;

  /*border-radius*/
  --border-radius-small: 16px;
  --border-radius-medium: 32px;
  --border-radius-large:  50%;

  /*padding*/
  --padding-small:12px;
  --padding-medium: 32px;
  --padding-large: 48px;

  /*typography*/
  --typography-headings:'Cinzel';
  --typography-text:'Inter';
  --typography-miscellaneous:'JetBrains+Mono';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /*Demander à Charly pour le 100 VH */
  background-color: var(--background-color); /*BG ok, mais sur le container right ? */
  img{
    max-width: 150px;
    aspect-ratio: auto;
  }
}

header {
  background: red;
  display: flex;
  justify-content: space-around;
  width: 100%;
  .logo-desktop {
    display: none;
  }
  ul {
    display: none;
  }
  button{
    display: none;
  }
}